export RESTIC_REPOSITORY="rclone:<your-rclone-remote>:/"
export RESTIC_PASSWORD="<your-restic-password>"

export RCLONE_CONFIG="<path-to-rclone-config-file>"
export RCLONE_CONFIG_PASS="<your-rclone-config-password>"

export AFFINE_DIR="<your-affine-directory>"
export POSTGRES_CONTAINER="affine_postgres"
export DB_USERNAME="affine"
export DB_DATABASE="affine"
